@import "tailwindcss";

:root {
  --background: #F7F8FA;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F8FA;
    --foreground: #1A1A1A;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url("https://fonts.googleapis.com/css?family=Poppins");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Helvetica, 'sans-serif';
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
